.container {
  width: 50%;
}

form {
  width: 20rem;


  label{
    padding-left: 0.5rem;
    transform: translateY(120%);
    transition: transform 1s;
}
}

// utility classes 

.not-empty {
    transform: translateY(0);
}
