.container {
  position: relative;
  height: 100vh;
  width: 50%;

  .success-popup {
    position: absolute;
    display: none;
    width: 100%;
    transform: translateY(-100%);
  }
}

.forms {
  position: relative;
  width: 25rem;
  .login-form,
  .register-form {
    top: 0;
    width: 0;
    width: 25rem;
    position: absolute;
    transition: all 0.5s ease;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
}

form {
  .form-group {
    margin-bottom: 0.3rem;
  }

  label {
    padding-left: 0.5rem;
    transform: translateY(120%);
    transition: transform 1s;
  }

  .form-control {
    transition: box-shadow 0.5s;
  }

  .form-control:focus {
    box-shadow: 0 3px 2px #86b7fe;
  }

  .btn {
    position: relative;
    overflow: hidden;
    background-size: 250%;
    transition: background 1s;
    margin-bottom: 1rem;
    span {
      position: absolute;
      background: #fff;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      animation: animate 1s linear infinite;
    }
  }

  #loginBtn {
    background-image: linear-gradient(
      30deg,
      var(--bs-blue) 10%,
      var(--bs-cyan) 60%
    );
  }

  #registerBtn {
    background-image: linear-gradient(
      30deg,
      var(--bs-success) 10%,
      var(--bs-teal) 60%
    );
  }

  button {
    &:hover {
      background-position: 100%;
    }
  }
}

.social-links {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--bs-primary);


    span {
      width: 0;
      overflow: hidden;
      transition: all 0.5s;
      text-align: center;
    }

    &:hover span {
      width: 4.5rem;
    }
  }
}

// utility classes

.not-empty {
  transform: translateY(0);
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
}

.hidden-right {
  opacity: 0;
  transform: translateX(100%);
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
